<div class="position-relative blue-box">
    <div class="d-flex align-items-center discount-wrapper justify-content-center mt-4">
      <div class="discount-label text-center">
        <div>30%</div>
        <div>OFF</div>
      </div>
      <div class="vertical-line ml-3"></div>
      <div class="text-center ml-3">
        <div class="fontStyle2">Today Shop Now</div>
        <div class="fontStyle3">Limited Time Offer Only</div>
        <div class="fontStyle3">On Selected Items</div>
        <button class="btn orderNowBtn">Order Now</button>
      </div>
    </div>
  </div>
