<app-header></app-header>
<div class="bg-image-pic">

</div>
<div class="bg-image-section">
<div class="d-flex flex-column align-items-center mt-3 ">
    <div class="fontStyle ">Best Collection</div>
    <div class="fontStyle1"> Shop by Category</div>
</div>
<!-- 2 -->


<div class="d-flex justify-content-center gap-4 flex-wrap mt-4">
    <div class="text-center" style="width: 180px;" *ngFor="let i of itemList">
      <img [src]="i.img"  height="150px" width="150px" />
      <div class="fontStyle mt-2">{{i.name}}</div>
      <div class="fontStyle">{{i.qty}} Products</div>
      <a href="#" class="btn bgColor mt-2">Shop Now</a>
    </div>
  </div>
  <!-- 3 -->
  <div class="d-flex flex-column align-items-center mt-3 ">
  
    <div class="fontStyle1"> Limitted Time Offer Everything</div>
    <mat-toolbar class="navbarStyle3 d-flex justify-content-center mt-3">    
        <div class="headerspace1">
            <span >Sale Ring</span>
            <span>Sale Earrings</span>
            <span>Silver 30% off</span>
            <span >Sale Bracelets</span>
            <span >Sale Necklace</span>
            <span >Sale Pendants</span>
            <span >Nose Pins</span>          
        </div>    
    </mat-toolbar> 
</div>
<!--  4-->
  <div class="row d-flex justify-content-center">
<div class="d-flex flex-column mt-3 ">
    <img src="../../assets/icons/chain.svg"  height="150px" width="150px"/>
<img src="../../assets/icons/chain1.svg"  height="150px" width="150px"/>
</div>
<div class="mt-3">
<img src="../../assets/icons/chain2.svg"  height="300px" width="300px"/>
</div>
<div class="mt-3">
    <img src="../../assets/icons/chain3.svg"  height="300px" width="300px"/>
    </div>
    <div class="d-flex flex-column mt-3 ">
        <img src="../../assets/icons/chain4.svg"  height="150px" width="150px"/>
    <img src="../../assets/icons/chain5.svg"  height="150px" width="150px"/>
    </div>
  </div>
<!--5  -->
  <div class=" d-flex justify-content-center mt-3">
    <button class="btn viewAllBtn">View All</button>
  </div>
  <!--6  -->
  <div class="row d-flex justify-content-center">   
    <div class="mt-3">
    <img src="../../assets/icons/white-saree.svg"  height="320px" width="320px"/>
    </div>
    <div class="mt-3 bg-image-pink">
        <img src="../../assets/icons/neck2.svg"  height="320px" width="380px"/>
        <div class=" d-flex justify-content-center">
            <button class="shopNowBtn">Shop Now</button>
          </div>
        </div>
        <div class="mt-3">
         <img src="../../assets/icons/red-saree.svg"  height="320px" width="320px"/>
            </div>
   </div>
      <!-- 7 -->
      <div class="d-flex flex-column align-items-center mt-5 ">
        <div class="fontStyle ">Collection 28</div>
        <div class="fontStyle1">Top Selling Designs</div>
    </div>
    <!-- 8 -->
    <div class="d-flex justify-content-center gap-4 flex-wrap mt-4">
        <div class="text-center" style="width: 180px;" *ngFor="let i of neckItemList">
          <img [src]="i.img"  height="170px" width="170px" />
          <div class="fontStyle mt-2">{{i.name}}</div>
          <div class="fontStyle">{{i.amt}} <span class="ml-2"><strong>{{i.mrp}}</strong></span></div>
          <a href="#" class="btn bgColor mt-2">Shop Now</a>
        </div>
      </div>
      <!-- 9 -->
       <!--10 -->
  <div class=" d-flex justify-content-center mt-3">
    <button class="btn viewAllBtn1">View All</button>
  </div>
  <!-- 11 -->
  <div class="row d-flex justify-content-center">   
    <!-- <div class="mt-3 bg-image-pink">
    <img src="../../assets/icons/blue-bangle.svg"  height="300px" width="300px"/>
    <img src="../../assets/icons/red-necklace.svg"  height="300px" width="300px"/>   
    </div> -->
    <div class="position-relative mt-3 bg-image-pink" style="width: 20%; height: 300px;">
        <img src="../../assets/icons/blue-bangle.svg"
             class="position-absolute top-left-img"
             height="150px" width="150px" />
      
        <img src="../../assets/icons/red-necklace.svg"
             class="position-absolute bottom-right-img"
             height="150px" width="150px" />
      </div>
      <!-- <div class="custom-card">
        <h5>Festive Collection</h5>
        <p>Explore now</p>
        <button class="btn btn-primary">Shop</button>
      </div> -->
    <div class="mt-3">
        <img src="../../assets/icons/pink-saree.svg"  height="300px" width="300px"/>
   </div>  

  </div>
  <!-- <div class="mt-3 d-flex justify-content-center">
    <div class="position-relative">
      <img src="../../assets/icons/red-rectangle.svg" height="50px" width="80px" />
  
      <div class="d-flex align-items-center discount-wrapper">
        <div class="discount-label text-center">
          <div>30%</div>
          <div>OFF</div>
        </div>
        <div class="vertical-line"></div>
        <div class="discount-label text-center">
            <div>Today Shop Now</div>
            <div>Limited Time Offer Only</div>
            <div>On Selected Items</div>
            <button class="btn orderNowBtn">Order Now</button>
          </div>
      </div>
    </div>
  </div> -->
  
  
  <div class="mt-3 d-flex justify-content-center">
    <div class="position-relative red-box">
      <div class="d-flex align-items-center discount-wrapper justify-content-center mt-4">
        <div class="discount-label text-center">
          <div>30%</div>
          <div>OFF</div>
        </div>
        <div class="vertical-line ml-3"></div>
        <div class="text-center ml-3">
          <div class="fontStyle2">Today Shop Now</div>
          <div class="fontStyle3">Limited Time Offer Only</div>
          <div class="fontStyle3">On Selected Items</div>
          <button class="btn orderNowBtn">Order Now</button>
        </div>
      </div>
    </div>
  </div>
  
  
       <!-- ends -->
</div>
<!-- <app-footer></app-footer> -->
