.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }

  .flex-grow-1 {
    flex: 1;
  }

.bg-image-section {
    background-image: url('../../assets/icons/bg.svg');
    background-size: cover;
    background-position: center;
    height: 400px;
  }

  .bg-image-pic{
    background-image: url('../../assets/icons/bg-pic.svg');
    background-size: cover;
    background-position: center;
    height: 400px;
  }

  .fontStyle{    
    font-size: 14px;
    color: #411F47;
    font-family: 'Philosopher';
  }

  .fontStyle1{    
    font-size: 24px;
    color: #411F47;
    font-family: 'Philosopher';
  }
  .fontStyle2{    
    font-size: 14px;
    color: #FBD4D4;
    font-family: 'Philosopher';
  }
  .fontStyle3{    
    font-size: 24px;
    color: #FBD4D4;
    font-family: 'Philosopher';
    font-weight: 700;
  }

  .bgColor{
    background-color: #411F47;
    color: white;
    font-size: 14px;
    font-family: 'Philosopher';
    width: 150px;
  }

  .navbarStyle3{
    background-color: #FFFFFF;
    height: 25px;
  }

  .headerspace1{
    display: flex;
    justify-content: space-between;
    gap: 50px; 
    font-size: 14px;
    color: #411F47;
    font-family: 'Philosopher';
  }

  .headerspace1 span {
    cursor: pointer; 
    position: relative;
    transition: all 0.3s ease;
  }
  
  .headerspace1 span:hover {
    text-decoration: underline;
  }
  
  .viewAllBtn{
    background-color: #411F47;
    color: white;
    font-size: 14px;
    font-family: 'Philosopher';
    width: 250px;
  }
    
  .viewAllBtn1{
    background-color: #411F47;
    color: white;
    font-size: 14px;
    font-family: 'Philosopher';
    width: 250px;
  }

  .bg-image-pink{
    background-image: url('../../assets/icons/bg-pink.svg');
    background-size: cover;
    background-position: center;
    height: 320px;
  }

  .viewAllBtn1 {
    background-color: transparent;
    border: 1px solid #411F47;
    color: #411F47;
    font-size: 14px;
    font-family: 'Philosopher';
    width: 250px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .shopNowBtn{
    background-color: #411F47;
    // border: 1px solid #411F47;
    color: white;
    font-size: 14px;
    font-family: 'Philosopher';
    width: 250px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .top-left-img {
    top: 0;
    left: 0;
  }
  
  .bottom-right-img {
    bottom: 0;
    right: 0;
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .position-relative {
    position: relative;
  }
  .custom-card {  
    transform: translate(-50%, -50%); /* Center the card */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    min-width: 200px;
    text-align: center;
  }  

  .discount-label {
    color: #FBD4D4;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 28px;
    font-family: 'Philosopher';
    line-height: 1.2;
    background: transparent;
  }
  
  .vertical-line {
    width: 1px;
    height: 120px;
    background-color: #FBD4D4;
    margin-left: 10px;
  }

  .orderNowBtn{
    background-color: #FBD4D4;
    color: #61191D;
    font-size: 14px;
    font-family: 'Philosopher';
    width: 150px;
    height: 30px;
    border-radius: 0%;
  }

  .red-box {
    width: 700px;
    height: 150px;
    background-color: #7A110B; 
    border-radius: 0px;
  }

  .blue-box {
    width: 100%;
    height: 250px;
    background-color: #1D1236; 
    border-radius: 0px;
  }  