.navbarStyle1{
    background-color: #1D1236;
    height: 25px;
}
.navbarStyle2{
    background-color: #FFFFFF;
    height: 40px;
    // margin-top: 10px;
}
.navbarStyle3{
  background-color: #FFFFFF;
  height: 25px;
}
// .example-spacer {
//     flex: 1 1 auto;
//   }

  .headerspace{
    display: flex;
    justify-content: space-between;
    gap: 130px; /* Adjust the spacing as needed */
    font-size: 14px;
    color: #F7C2C3;
    font-family: 'Philosopher';
  }
  .headerspace span:first-child {
    margin-left: 30px;
  }

  .headerspace1{
    display: flex;
    justify-content: space-between;
    gap: 50px; /* Adjust the spacing as needed */
    font-size: 14px;
    color: #411F47;
    font-family: 'Philosopher';
  }

  .headerspace1 span {
    cursor: pointer; /* Optional: shows a pointer cursor */
    position: relative;
    transition: all 0.3s ease;
  }
  
  .headerspace1 span:hover {
    text-decoration: underline;
  }
  
  .scanStyle{
     font-size: 14px;
    color: #000;
    font-family: 'Philosopher';
  }
 
 
  .search-container {
    position: relative;
    width: 250px;
  }
  
  .font-icon {
    position: absolute;  
    transform: translateY(-50%);
    color: #000;
    pointer-events: none; /* So it doesn't block typing */
  }
  .search-icon {   
    top: 40%;
    left: 12px;     
  }
  
  .close-icon{
    position: absolute;
    top: 40%;
    left: 220px;
    transform: translateY(-50%);
    color: #000;
    pointer-events: none; /* So it doesn't block typing */
  }
  .search-input {
    width: 100%;
    padding: 0px 16px 0px 36px; /* Left padding makes room for icon */
    border-radius: 999px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
  }
  .gap-3 {
    gap: 1rem;
  }
  
  .gap-4 {
    gap: 1.5rem;
  }
  
