<mat-toolbar class="navbarStyle1">    
    <div class="headerspace">
        <span >Welcome to AGD Gold & Diamonds</span>
        <span>+91 9847570333</span>
        <span>info@arabialgoldgroup.com</span>
        <span >Today's Rate (01-04-2025) : 22kt - ₹8510/gm , 22kt - ₹68080 - 8gm</span>
        <span >INDIA/UAE</span>
    </div>    
</mat-toolbar>  
  <mat-toolbar class="navbarStyle2 ">    
    <div class="headerspace">
        <!-- <span ><img src="../../../assets/icons/logo.svg" height="80px" width="80px"/> </span> -->
        <span class="scanStyle"><img src="../../../assets/icons/scan.svg" height="25px" width="25px"/>
          <span class="ml-2">Scan Now</span>
        </span>
       
        <span>info@arabialgoldgroup.com</span>
        <span >Today's Rate (01-04-2025) : 22kt - ₹8510/gm , 22kt - ₹68080 - 8gm</span>
        <span >INDIA/UAE</span>
    </div>  
    <span class="example-spacer"></span>  
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>  