<mat-toolbar class="navbarStyle1">    
    <div class="headerspace">
        <span >Welcome to AGD Gold & Diamonds</span>
        <span>+91 9847570333</span>
        <span>info@arabialgoldgroup.com</span>
        <span >Today's Rate (01-04-2025) : 22kt - ₹8510/gm , 22kt - ₹68080 - 8gm</span>
        <span >INDIA/UAE</span>
    </div>    
</mat-toolbar>  


  <mat-toolbar class="navbarStyle2">
    <div class="d-flex justify-content-between w-100 align-items-center px-3">
      <!-- Left Side -->
      <div class="d-flex align-items-center gap-4">
        <img src="../../../assets/icons/logo.svg" height="80px" width="80px"/>
        <div class="d-flex align-items-center ml-3">
          <img src="../../../assets/icons/scan.svg" height="25px" width="25px"/>
          <span class="ml-2 scanStyle">Scan Now</span>
        </div>
      
      </div>
  <!-- middle -->
  <div class="d-flex align-items-center gap-3">
    <div class="search-container ml-4">
      <i class="fa fa-search search-icon font-icon"></i>    
      <input type="text" placeholder="Search products..." name="search" class="search-input">
      <i class="fa fa-close close-icon"></i> 
    </div>
    </div>
      <!-- Right Side -->
      <div class="d-flex align-items-center gap-3">
        <img src="../../../assets/icons/people.svg" height="25px" width="25px"/>
        <img src="../../../assets/icons/love.svg" height="25px" width="25px"/>
        <img src="../../../assets/icons/bag.svg" height="25px" width="25px"/>
      </div>
    </div>
  </mat-toolbar>
  <hr>
  <mat-toolbar class="navbarStyle3 d-flex justify-content-center">    
    <div class="headerspace1">
        <span >New Arrivals</span>
        <span>Express Delivery</span>
        <span>Earrings</span>
        <span >Pendants</span>
        <span >Rings</span>
        <span >Diamond Jewellery</span>
        <span >Gifting</span>
        <span >Wedding Collections</span>
    </div>    
</mat-toolbar> 
