.navbarStyle1{
    background-color: #1D1236;
    height: 25px;
}
.navbarStyle2{
    background-color: #FFFFFF;
    height: 40px;
    // margin-top: 10px;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .headerspace{
    display: flex;
    justify-content: space-between;
    gap: 130px; /* Adjust the spacing as needed */
    font-size: 14px;
    color: #F7C2C3;
    font-family: 'Philosopher';
  }
  .headerspace span:first-child {
    margin-left: 30px;
  }
  .scanStyle{
    
  }
  body{
    padding: 50px;
  }
  h1{
    margin-bottom: 10px;
  }
  .icon-input {
      margin-bottom: 10px;
      position: relative;
      max-width: 300px;
      &__text-field{
        width: 100%;
        padding: 5px 30px 5px 5px;
      }
      &__icon{
          color: rgba(0,0,0,1);
          position: absolute;
          top: 50%;
          right: -2rem;
          transform: translateY(-50%);
      }
      &__text-field:focus + &__icon{
        color: #FF8400;
      }
  }